body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff7e06;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1,
h2,
p {
    margin-bottom: 20px;
}nav {
    background-color: #f07807;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ecf0f1; /* Change color on hover */
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f07706;
    color: #fff;
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        color: #333;
    }
    
    header {
        background-color: #f17704;
        padding: 20px;
        text-align: center;
        color: #fff;
    }
    
    h1,
    h2,
    p {
        margin-bottom: 20px;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav a {
        text-decoration: none;
        color: #333;
    }
    
    section {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    footer {
        text-align: center;
        padding: 20px 0;
        background-color: #ec7606;
        color: #fff;
    }

}